<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <div class="content">
    <h2>
      <i class="fas fa-chevron-left"> </i>
      {{ launchDetails.mission_name }}
    </h2>
    <div class="detailContent">
      <div class="profile">
        <section>
          <mat-card style="width: 400px; margin: auto;">
            <img
              mat-card-image
              [src]="launchDetails.links.mission_patch || placeholderPath"
              alt="Mission patch of {{ launchDetails.mission_name }}"
            />
            <mat-card-content>
              <p>{{ launchDetails.details }}</p>
            </mat-card-content>
          </mat-card>
        </section>
      </div>
      <app-carousel
        class="imageColumn"
        [launchImages]="launchDetails.links.flickr_images"
        [launchName]="launchDetails.mission_name"
      ></app-carousel>
    </div>
  </div>
</ng-container>
